img {
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(84, 84, 84);
}

body {
    margin: 0px; 
}

header h1{
    text-align: center;
    font-size: 40px; 
}

footer {
    clear:both;
    padding: 20px;
    text-align: center; 
    background: grey; 
}

.navbar ul{
    list-style-type: none; 
    background-color: grey;
    padding: 0px; 
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white; 
    text-decoration: none;
    padding: 15px; 
    display: block; 
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(48, 48, 48);
}

.navbar li{
    float: left;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 20%; 
    max-width: fit-content;
    background-color: #f1f1f1; 
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    flex: 70%; 
    background-color: rgb(255, 255, 255); 
    padding-left: 20px; 
}








